body {
	height: 100%;
	background-image: url("../images/sport.png");
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

*{
	padding:0px;
}


/* tablas equipos*/

#table{
	display: table;
	margin: 0 auto;
	margin-bottom: 25px;
}

#table1{
	display: table;
	margin-top: 50px;
}

#fila{
	display: table-row;
}

#header{
	display: table-cell;
	text-align: center;
	margin: 0 auto;
	width: 200em;
	font-size: 2em;
	color: #befdb9;
	border-bottom: solid 2px #befdb9;
	border-radius: 1em;
	background-color: #ab2121;
}

#celda{
	display: table-cell;
	text-align: center;
	margin: 0 auto;
	width: 100em;
	font-size: 1.5em;
	color: #ab2121;
	border: solid 2px #ab2121;
	border-radius: 1em;
	background-color: #befdb9;
}

div #containElem{
	float: left;
	flex-basis: 100%;
	
    margin-top: 30px;
    background-color: #397c94;
    margin-bottom: 5em;
    border: 0.8em solid rgba(182, 255, 232, 1);
    padding: 10px 10px 0 10px;
    left: 10%;
}


/* error */

#error{
	margin-top: 20px;
	float: center;
	text-align: center;
	font-size: 15pt;
}

fieldset#errorLogin {
	border: 3px solid red;
	width: 20em;
	padding: 15px;
	background-color: lightblue;
	border-radius: 10px;
	text-align: left;
	margin:0 auto;
	float:center;
}

fieldset#errorReg {
	border: 1px solid red;
	width: 35em;
	margin: 0 auto;
	background-color: lightblue;
	border-radius: 10px;
	text-align: left;
	padding-left: 20px;

}

legend#error {
	color: #fff;
	background: red;
	border: 1px black;
	padding: 2px 6px;
	border-radius: 10px;
}

div#cab{
	float:right;
	font-size: 25px;
	color:lightblue;
	margin-right: 250px;
}

/* portada */

#borde {
	background-color: transparent;
	border: none;
	margin-top: auto;
	margin-bottom: auto;
} 

img.logo {
	width: 500px;
	height: 500px;
	display: block;
	margin: auto;
}

#sesion li {
	margin: 20px;
	list-style: none;
	float: center;
	text-align: center;
	font-size: 10pt;
}

u#reg {
	color: darkgreen;
}

button#index {
	background-color: #a26c12;
    color: white;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.5em;
    width: 10em;
    font-size: 1.7em;
}


/* login */

#login {
	margin: 50px;
	float: center;
	text-align: center;
	font-size: 30pt;
}

fieldset#campo {
	border: 3px solid darkgreen;
	width: 15em;
	margin: 0 auto;
	background-color: lightblue;
}

legend#log {
	background: #a26c12;
	text-decoration-color: #FFF;
	font-size: 2em;
	border: 1px #4a32068a;
	padding: 2px 6px;
	border-radius: 10px;
}

p#log {
	color: #8e5c0a;
	font-size: 3.5em;
	font-family: arial;
}


/* registro */

#registro {
	margin: 20px;
	float: center;
	font-size: 20pt;
	text-align: center;
}

fieldset#campoReg {
	border: 3px solid darkgreen;
	width: 20em;
	margin: 0 auto;
	background-color: lightblue;
}

label#reg {
	width: 4em;
	text-align: left;
	margin-right: 20em;
	display: inline-block;
}

p#reg {
	color: darkgreen;
}


/* cabecera */

div#cabecera {
	padding: 3em;
	height: 21.8em;
	background-image: linear-gradient( #5AA642, #78DE58);
	z-index: 1;
	position: relative;
}

img.logoC{
	margin-top: 1em;
	width: 20em;
	height: 20em;
}

div#logoC{
	text-align: center;	
}
	

/* menu de navegacion */

img#menu{
	width: 0.65em;
	height: 0.65em;
	margin-right: 0.4em;
}

ul, ol {
	display: inline-block;
	list-style: none;
}
nav{
    list-style: none;
    margin: auto;
    padding: 0px;
    display: flex; 
    justify-content: center;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
}
	
.nav > li {
	display: inline;
	float: left;
}
			
.nav li a {
	background-color:  #53c59b8f;
	color: #fff;
	text-decoration: none;
	padding: 10px 12px;
	display: block;
}
			
.nav li a:hover {
	background-color: lightgreen;
	color: #9BC090;
}
			
.nav li ul {
	display: none;
	position: absolute;
	min-width: 140px;
}
			
.nav li:hover > ul {
	display: block;
}
			
.nav li ul li {
	position: relative;
}
			
.nav li ul li ul {
	right: -140px;
	top: 0px;
}

.nav li a:target{
	background-color: gold;
}


/* contenido */

div#contenido {
	padding-top: 2.5em;
	height: auto;
	background-image: linear-gradient(#78DE58, #58DE9D);
	overflow: auto;
}

img.logoIndex {
	width: 1000px;
	height: 500px;
	display: block;
	margin: auto;
}

div#adios {
	text-align: center;
    height: 60em;
    width: auto;
    padding-top: 100px;
}

#out{
	color: #ffffff;
    font-size: 8em;
    margin-top: 2em;
    font-family: arial;
}

p {
	font-size: 30pt;
	color: white;
}

u {
	color: white;
}

div#contenido-eventos{
	margin-top: 4em;
	display: table;
    content:"";
}


/* equipos */


div#team {
	float: left;
}

fieldset#team1 {
	border: 1px solid lightgreen;
	width: 15em;
	margin: 10px auto;
	background-color: darkgreen;
	text-align: center;
	padding-bottom: 20px;
}

fieldset#team2 {
	border: 1px solid lightgreen;
	width: 15em;
	margin: 10px auto;
	background-color: darkgreen;
	text-align: center;
	padding-bottom: 20px;
}

legend#team {
	background: darkgreen;
	padding: 2px 6px;
	text-align: center;
	color: lightgreen;
	outline-color: lightgreen;
}

div#opc {
	float: right;
}

button#opc {
	background-color: darkgreen;
	color: white;
	border: none;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 30px;
}

img#fut {
	width: 100px;
	height: 100px;
}


/* crear equipo */

#crear{
 	text-align: center;
 	float:center;
 }

div#crear {
	margin: 0 auto; 
	position: absolute;
	margin-left: 600px;
}

fieldset#crear {
	padding: 10px;
	width: 50em;
	border:3px solid darkgreen;
	background-color: lightblue;
}


/* eliminar equipo */

div#eliminar {
	margin: 0 auto; 
	float: left;
	margin-left: 525px;
	margin-top: 100px;
}

fieldset#eliminar {
	text-align: center;
	padding: 10px;
}


/* unirse a equipo */

div#unir {
	margin: 0 auto; 
	position: absolute;
	margin-left: 650px;
	margin-top: 100px;
}

fieldset#unir {
	padding: 10px;
}


/* perfil */

div#datos{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin:auto;
	max-width: 1000px;
}

p#perfil{
	color:darkgreen;
}

fieldset#avatar{
	border: 3px solid #9BC090;
	background-color: lightblue;
	text-align: center;
	max-width: 1000px;
	margin-top: 30px;
}

fieldset#perfil{
	border-color: #4a32068a;
    border-radius: 4%;
    border-style: dotted;
    border-width: 0.3em;
    background-color: #fff793;
    color: #FFF;
    font-family: arial;
    text-align: left;
    width: 100em;
    height: 35em;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -100em;	
}

fieldset#perfil2{
	border-color: #4a32068a;
    border-radius: 4%;
    border-style: dotted;
    border-width: 0.3em;
    background-color: #fff793;
    color: #FFF;
    font-family: arial;
    text-align: left;
    height: 35em;
    margin-top: 12em;
    margin-bottom:16em;
}

input{
	border:1px solid #4a32068a;
}


/* estadisticas */

img#fut1 {
	width: 25em;
	height: 25em;
}


/* EVENTOS */

div#container-eventos{
	display: flex;
    flex-wrap: wrap;
    float: left;
    width: 70%;
    padding: 10px;
}

div#container-proximosEventos{
	float: left;
    width: 25%;
    padding: 10px;
}

div#eventos {
	flex-basis: 100%;
	max-width: 40em;
	margin: auto;
	background-color: #0157016e;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 0.8em solid rgba(182, 255, 232, 1);
  	padding: 10px 10px 0 10px;
  	left: 10%;   
   	background-clip: padding-box;
	-webkit-box-shadow: 0 1.3em 1em -6px #777;
    -moz-box-shadow: 0 1.3em 1em -6px #777;
    box-shadow: 0 1.3em 1em -6px #777;
    -webkit-transition:all 1.2s ease; /* Safari y Chrome */
	-moz-transition:all 1.2s ease; /* Firefox */
	-o-transition:all 1.2s ease; /* IE 9 */
	-ms-transition:all 1.2s ease; /* Opera */
	width:100%;
}

div#eventos:hover{
	-webkit-transform:scale(1.15);
	-moz-transform:scale(1.15);
	-ms-transform:scale(1.15);
	-o-transform:scale(1.15);
	transform:scale(1.15);
}

div#botones-eventos{
	margin-top: 2em;
    text-align: center;
}

div#evento1 {
	max-width: 1000px;
	margin: auto;
	background-color: green;
	margin-top: 30px;
	margin-bottom: 30px;
}

img#img_eventos{
	width: 250px;
	height: 250px;
	display: block;
	background-color: transparent;
	margin: auto;
}

h1,pre,p#texto{
	text-align: center;
	text-transform: uppercase;
	color:black;
	font-size: 15px;
	font-weight: bolder;
}

p#evento{
	font-size: 20px;
	color: white;
	margin-left: 5px;
}

h1#evento{
	text-transform: uppercase;
	color:gold;
}

div#errorEvento{
	max-width: 1000px;
	border: 1px solid black;
	margin-top: 30px;
	margin: auto;
}

div#errorEvento2{
	margin-left: 200px;
}

legend#evento{
	background: #a26c12;
	text-decoration-color: #FFF;
	font-size: 2em;
	border: 1px #4a32068a;
	padding: 2px 6px;
	border-radius: 10px;
	color: #fff;
}

fieldset#evento{
	border:3px solid #4a32068a;
	background-color: #fff793;
	text-align: center;
	max-width: 1000px;
	margin: auto;
	margin-top: 50px;
	border-style: dotted;
	border-radius: 4%;
}

fieldset#evento1{
	border: 1px solid lightgreen;
	background-color: darkgreen;
	text-align: center;
}


/* Quedadas */

div#quedadas {
	flex-basis: 100%;
	max-width: 50em;
	margin: auto;
	background-color: #0157016e;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 0.8em solid rgba(182, 255, 232, 1);
  	padding: 10px 10px 0 10px;
  	left: 10%;   
   	background-clip: padding-box;
	-webkit-box-shadow: 0 1.3em 1em -6px #777;
    -moz-box-shadow: 0 1.3em 1em -6px #777;
    box-shadow: 0 1.3em 1em -6px #777;
    -webkit-transition:all 1.2s ease; /* Safari y Chrome */
	-moz-transition:all 1.2s ease; /* Firefox */
	-o-transition:all 1.2s ease; /* IE 9 */
	-ms-transition:all 1.2s ease; /* Opera */
	width:100%;
}

img#quedada{
	width: 250px;
	height: 250px;
	display: block;
	background-color: transparent;
	margin: auto;
	border:2px solid gold;
}

pre#texto1{
	text-align: center;
	text-transform: uppercase;
	color:black;
	font-weight: bold;
	font-size: 1.25em;
}

div#errorQuedada{
	max-width: 100em;
	border: 1px solid black;
	margin-top: 30px;
	margin: auto;
}

div#errorQuedada2{
	display: flex;
    justify-content: center;
    margin-bottom: 20em;
}

fieldset#quedada{
	border-color: #4a32068a;
    border-radius: 4%;
    border-style: dotted;
    border-width: 0.3em;
    background-color: #fff793;
    color: #FFF;
    font-family: arial;
    text-align: left;
    margin-top: 5em;
    margin-bottom:5em;
    padding-right: 1em;
    padding-left: 1em;
}

h1#quedada{
	color: #FFF;
    font-family: arial;
    font-size: 2.5em;
}

fieldset#perfil2{
	border-color: #4a32068a;
    border-radius: 4%;
    border-style: dotted;
    border-width: 0.3em;
    background-color: #fff793;
    color: #FFF;
    font-family: arial;
    text-align: left;
    height: 35em;
    margin-top: 12em;
    margin-bottom:16em;
}

div#container-quedadas{
	display: flex;
    flex-wrap: wrap;
    float: left;
    width: 100%;
}

div#container-crearQuedada{
    width: 100%;
    padding: 1em;
}

div#container-asistentes{
    flex-wrap: wrap;
    float: left;
    padding: 10px;
    width: 25%;
}
/* Procesar listar equipos */

.login-equipos{
    padding: 15px;
    text-align: left;
    font-size: 1.8em;
    color: #3b4465;
    font-weight: bold;
    position: relative;
    background-color: #eef9fe;
    box-shadow: inset 0 0 1px 0px black;
    border: 0.1em solid gold;
}

.login-equipos:hover{
	background-color: gold;
}

.login-equipos > a{
	font-size: 15px;
    text-decoration-line: none;
}

.teams_container{
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.titulo{
	flex-basis: 100%;
    text-align: center;
    margin: 1em;
    font-family: arial;
    font-size: 4em;
}


.box{
	margin: 1em;
    flex-basis: 30%;
    display: inline-block;
    max-width: 50em;
    background-color: #a6ffb1;
}

.box-equipo{
	grid-area: title;
    font-family: arial;
    font-size: 3.5em;
    text-align: center;
    color: #9F6D20;
}
.box-logo{
	border-radius: 50%;
    position: relative;
    float: left;
    width: 19em;
    height: 19em;
}

.box-texto{
	text-align: center;
    height: auto;
    font-size: 1.3em;
}
.box-texto {
    float: left;
    text-align: center;
    width: 15em;
    font-size: 1.3em;
}

.box-texto2{
	font-size: 1.4em;
    font-family: arial;
    color: #a26c12;
}

.box-desc{
	font-size: 1.8em;
	font-family: arial; 
	text-align: center;
	color: #9F6D20;
}

.box-img{
	float: left;
    padding-bottom: 2em;
}

div#container-equipos{
	position: relative;
    display: block;
    margin-top: 4em;
    margin-left: 6em;
}

div#crearEquipoForm{
	display: flex;
    z-index: 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
/* pantalla equipo */

#p1{
	color: #ab2121;
    /* margin-left: 400px; */
    font-size: 3.5em;
    font-family: arial;
    text-align: center;
}

#p2{
	color: #000000;
    margin-left: 453px;
    max-width: 22em; 
}

#p3{
	text-align: center;
    color: #020202;
    font-family: arial;
    font-size: 3.5em;
    text-decoration: underline;
}

#p4{
	color:gold;
	margin-left: 50px;
	text-decoration: underline gold;
}

#p5{
	color:#ffffff;
	font-family: arial;
	font-size: 3.8em;
}

#p6{
	color:gold;
	text-align: center;
}

#h{
	color: #FFF;
    font-family: arial;
    font-size: 5em;
}

#h1{
	color:#3b4465;
	font-size: 50px;
}


/* pie */

div#pie {
	padding: 20px;
	height: 14em;
	background-color: #58DE9D;
	position: relative;
	z-index: 0;
}

img#icon {
	width: 8em;
	height: 8em;
	padding-right: 15px;
}

div#icon {
	display: flex;
    justify-content: center;
}

a#pie {

	text-align: center;
	background-color: #7B9872;
	border: none;

}


/*Contenido*/

main.backgroundIndexColor{
	background-image: linear-gradient(#78DE58, #58DE9D);
	/*background-color: #1AD12B; */
	border: 0em solid #fff;
    height: 100%;
    width: 100%;
    padding-top: 3.0em;
    padding-bottom: 3.0em;
}

div.section-content-1{
	background-color:#53c5818f;
	margin-left: auto;
    margin-right: auto;
    padding-bottom: 6em;
}

div.section-content-2{
	display: inline-block;
	padding-right: 5em;
	width: 692px;
}

div.copy-wrapper{
	text-align: center;
	display: block;
}
.indexHead-1{
	padding-top: 1.5em;
    font-size: 6em;
    line-height: 1.14286;
    font-weight: 600;
    letter-spacing: .007em;
    color: #FFF;
    text-transform: uppercase;
    font-family: arial;
}

.indexHead-2{
	font-size: 5em;
    line-height: 1.14286;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: #FFF;
    font-family: arial;
}

.indexText-1{
	color: #FFF;
    margin: auto;
    padding-bottom: 1.5em;
    font-size: 4em;
    max-width: 23em;
    letter-spacing: .01em;
    font-family: arial;
    font-weight: 500;
}


.indexText-2{
	color: #FFF;
	margin: auto;
	font-size: 2em;
    max-width: 26em;
    letter-spacing: .01em;
    font-family: arial;
    font-style: italic;
    font-weight: lighter;
}

figure.indexImage > img{
	width: 80%;
	height: auto;
	margin: auto;
}

.unit-link{
	text-decoration: none;
}

#text-center{
	background-image: linear-gradient(#53c5818f, #58DE9D);
	text-align: center;
}

#section{
	display: inline-flex;
	align-content: center;
	margin: auto;
    padding-bottom: 6em;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*Vista equipo*/


.titulo-equipo{
	flex-basis: 100%;
    text-align: center;
    margin: 1em;
}

#elem1{
	flex-basis: 100%;
	margin-left: 10em;
    margin-top: 30px;
    background-color: #befdb9;
    margin-bottom: 5em;
    border: 0.8em solid rgba(182, 255, 232, 1);
    padding: 10px 10px 0 10px;
    left: 10%;

}
#container-eventos2{
    flex-wrap: wrap;
    float: left;
    padding: 10px;
    width: 25%;
}

#botones-equipo{
	display: inline-flex;
	margin-left: 5em;
	margin-bottom: 7.7em;
}

.tab {
 	float: left;
    border: 1px solid #ccc;
    width: 100%;
    background-color: #befdb9;
    margin-left: 3em;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: #e02d2d;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 2.5em;
}

/* Change background color of buttons on hover */
.tab button:hover {
	color: #befdb9;
  background-color: #ab2121;
}

/* Create an active/current "tab button" class */
.tab button.active {
	color: #FFF;
  background-color: #ab2121;
}

/* Style the tab content */
.tabcontent {
	padding: 0 18px;
	background-color: #ab2121;
	display: none;
	overflow: hidden;
	text-align: center;
}

.tablinks{
	background-color: #862626;
    color: #fff;
    cursor: pointer;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: auto;
    width: 100%;
    height: auto;
    font-size: 3em;
    font-family: arial;
    text-align: center;
    border: none;
    outline: none;
}

.active, .tablinks:hover {
  background-color: #ccc;
}

#h10{
	color: #FFF;
    font-family: arial;
    font-size: 2.5em;
}

#p-tabs{
	font-size: 2.4em;
	font-family: arial;
    color: white;
}

#p-result{
	font-family: arial;
	color: #ab2121;
}